<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr"
      th:replace="~{admin/_layout :: layout(~{::section}, ~{::title}, ~{::head})}">
<head>
  <title>Dashboard</title>
</head>
<body>
<section>
  <h2 class="h4 mb-3">Özet</h2>
  <p>Toplam Üniversite: <strong th:text="${countUniversities}">0</strong></p>
  <a href="/ui/universities" class="btn btn-primary">Üniversiteleri Yönet</a>
  <br><br>
  <a href="/ui/campuses" class="btn btn-primary">Kampüsleri Yönet</a>
  <br><br>
  <a href="/ui/faculties" class="btn btn-primary">Fakülteleri Yönet</a>
</section>
</body>
</html>
